body {
	font-family:'Nunito', sans-serif;
	color: #faf3bc;
	background: #420600 url('img/bg-texture.jpg') repeat;
}

a {
	color: #4fb69f;
	text-decoration:none;
}

h1 {
	font-size:1.750em;
	letter-spacing:-1.5px;
}

h2 {
	font-size:1.5em;
	color:#b4c34f;
}

.btn {
	color:#faf3bc;
	background: #4fb69f url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background: #4cc4a7;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float:right;
}

ul.nav li {
	float:left;
	margin-right:40px;
}

ul.nav li a {
	color:#faf3bc;
}

#intro{
	margin:75px 0 50px 0;
}

#new-cupcakes img {
	border: 8px solid #faf3bc;
	margin: 0 0 20px 0;
}

#featured-cupcake img {
	border: 8px solid #faf3bc;
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align:center;
}



















